.howto {
    background-color: $color-primary;
    position: relative;
    z-index: 2000;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.howto-2 {
    background-color: $white;
    position: relative;
    z-index: 2000;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}


.use-step {
  background-color: $color-secondary;
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  p {
    color: $white;
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.use-1 {
    height: 100vh;
}
