.howto {
    background-color: $color-secondary;
    position: sticky;
    top: 0;
    z-index: 2000;
    h4 {
      color: $white;
    }
    p{
      color: $white;
    }
}

.howto-2 {
    background-color: #9dba78;
    z-index: 2001;
    h4 {
      color: $white;
    }
    p{
      color: $white;
    }
}

.howto-3 {
  background-color: #DEEFC7;
  position: sticky;
  z-index: 2002;
  h4 {
    color: $black;
  }
  p{
    color: $black;
  }
}


.use-step {
  background-color: $white;
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  p {
    color: $black;
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.use-step2 {
  background-color: $white;
}

.use-step3 {
 background-color: $black;
 p{
  color: #DEEFC7;
 }
}

.use-1 {
    height: 90vh;

}

.use-first {
  div {
    @include min-992 {
      position:sticky;
      top: 50vh;      
    }
  }
}