.howto {
    background-color: $color-primary;
    position: sticky;
    top: 0;
    z-index: 2000;
}

.howto-2 {
    background-color: $white;
    z-index: 2001;
}

.howto-3 {
  position: sticky;
  z-index: 2002;
}


.use-step {
  background-color: $color-secondary;
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  p {
    color: $white;
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.use-1 {
    height: 100vh;
}
