.home {
  height: 80vh;
  background-image: url(../img/background-home.jpg);
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
}

.pre-navbar {
  background-color: $color-secondary;
  p {
    color: #ffffff;
    font-weight: bold;
  }
  img {
    height: 1.3rem;
  }
}