.nav-logo {
  height: auto;
  width: 8.5rem;
}
.navbar-nav {
  li {
    a {
      font-family: $font-secondary;
      font-size: 1.1rem;
      &:hover {
        color: #4b6826;
      }
    }
  }
}

.nav-cart {
  height: auto;
  width: 2.3rem;
  cursor: pointer;
}

.nav-custom {
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 9999;
}
